{{#if eaters.length}}
  <ul>{{#each eaters}}<li>
    <a href="http://makelunch.meteor.com/eater/{{_id}}" title="{{name}}">
      <img src="{{avatar this}}"/>
    </a>
  </li>{{/each}}</ul>
{{else}}
  <div class="spinner" title="Loading"></div>
{{/if}}
